/**** FONTS ****/
@font-face {
    font-family: main;
    src: url(Fonts/CaskaydiaCoveNerdFont-Regular.ttf);
}

:root{
    --background-tertiary: #333333;
}

/**Change the font in discord to my own**/
body, div, span, textarea, ::-webkit-input-placeholder {
    /**
     * Changing fonts.
     * Syntax: font-family: 'font name', fallbacks?, font type?;
     * Fallbacks are optional, font type is optional but helps the font render properly.
     * Example: font-family: 'Whitney', 'Arial', sans-serif;
     */
    font-family: 'main', sans-serif;
}